//- 42:39
doctype html
html 
    head 
        style  
            include ../static/style.css
    body 
        nav#navbar 
            ul
                div#logo
                    img(src="../static/musicsillohet.png", alt="logo")
                    | HDA
                li #[a(href="/") Home] 
                li #[a(href="/") About] 
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact Us]

        section#introsection 
            div Welcom to Our Dance Academy 
            div.small Eat Dance Sleep Repeat
        section#missionsection 
            h2 Our Mission 
            div.card#perfectdancing
                p Perfect your dancing. 
            div.card#danceasyoulike 
                p Dance The Way You Like. 
            div.card#expertdancing 
                p Expert Dance Tutoring. 
        section#sponsorsection 
            h2 Our Sponsors 

        footer#footer 
            |section for footer
        script 
            include ../static/index.js
