/* css resets and important stuff */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Readex+Pro:wght@600&family=Ubuntu&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'cascasia code', 'Ubuntu', sans-serif;
}

#logo {
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
}
#logo img{
    height: 50px;
    filter: invert();
    display: inline-block;
    position: sticky;
}

/* navbar */
#navbar {
    background-color: rgb(53, 53, 53);
    padding: 30px 5px;
}
#navbar li {
    list-style: none;

}
#navbar li a {
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-size: 1.3rem; 
}
#navbar li a:hover {
    color: rgb(161, 161, 161);
}
#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

/* introsection */
#introsection {
    font-family: 'ubuntu', 'sans-serif';
    font-size: 35px;
    flex-direction: column;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url('/static/bg.avif');
    height: 300px;
    background-color: aliceblue;
    padding-bottom: 40px;
}
#introsection div.small{
    font-size: 1rem;
}


/* sponsorsection */
#sponsorsection {
    height: 300px;
    background-color: antiquewhite;
}
#sponsorsection h2{
    text-align: center;
    padding-top: 23px;
}


/* missionsection */
#missionsection {
    height: 550px;
    background-color: #b06666;
}
#missionsection h2{
    text-align: center;
    padding-top: 23px;
}
.card {
    border: 2px solid black;
    width: 29%;
    margin: 5px 30px;
    padding: 5px 5px;
    height: 430px;
    display: inline-block;
    text-align: center;
}
.card p {
    color: rgb(117, 0, 251);
    text-shadow: 2px 2px 1px red;
    font-size: 25px;
}

div.card#perfectdancing {
    background: center/cover no-repeat url('/static/musicsillohet.png');
}
div.card#danceasyoulike {
    background: center/cover no-repeat url('/static/dancingwoman.webp');
}
div.card#expertdancing {
    background: center/cover no-repeat url('/static/expert.jpeg');
}


/* footer */
#footer {
    background-color: grey;
    height: 300px;
}